node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.idea/.gitignore
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/libraries/react_native.xml
/.idea/studyReactNativeExpo.iml
/.idea/vcs.xml
/environment.js
